@import "nullstyle.scss";

//импорт шрифта

//@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Chilanka&display=swap");

$color1: #f5f5f5;
$color2: rgba(88, 247, 88, 0.959);

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
    min-width: 100%;

    display: flex;
    flex-direction: column;
}
.content {
    overflow: hidden;
}

@media (max-width: 1180px) {
    .content {
        margin: 0 auto;
    }

    .greeting__row {
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .content {
        margin: 0 auto;
    }
    .greeting__row {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .what__row {
        flex-direction: column;
        align-items: center;
    }

    .what__body {
        text-align: center;

        .title {
            text-align: center;
        }
    }

    .item__row {
        flex-wrap: wrap;
    }

    .item__image {
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 482px) {
    .columns__row {
        display: flex;
        flex-direction: column;
    }

    .item__image {
        margin: 0 auto;
        padding-bottom: 15px;
    }
    .footer {
        width: 569px;
    }
}

.greeting {
    background-color: #445162;
    padding: 50px;
}

.container {
    max-width: 1180px;
    margin: 0 auto; //выравнивание по центру
}
.greeting__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 380px;
}

.greeting__body {
    color: #fff;
    min-width: 380px;
}
.greeting__title {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    margin: 0 0 38px 0;

    animation-name: title__font_weight;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes title__font_weight {
    0% {
        font-weight: 400;
    }

    100% {
        font-weight: 600;
    }
}

.greeting__image {
    //  width: 469px;
    //   height: 214px;
    max-width: 100%;

    overflow: hidden;
}

.greeting__ul {
    list-style: none;
    & li {
        background: url(../img/check_icon.png) 0 1px no-repeat;
        padding: 0 0 0 36px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
        color: #ffffff;
        font-family: "Arial MT";
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: 36px;
    }
}

.footer {
    background-color: $color1;
}

.footer__row {
    display: flex;
    height: 65px;
    justify-content: center;
    align-items: center;
}
.footer__text {
    text-align: center;
    font-size: 12px;
    color: #445162;
    letter-spacing: 0.3px;
}

.what {
    padding: 50px 0;
}
.what__row {
    display: flex;
    justify-content: space-between;
}
.what__image {
    flex: 1 1 40%;
    & img {
        max-width: 100%;
    }
}

.what__body {
    background-color: #fff;
    max-width: 600px;
    min-width: 380px;
    flex: 1 1 auto;
    margin: 0 0 0 38px;
    padding-right: 20px;
}

.title {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
}

.what__title {
    margin: 0 0 33px 0;
}

.what_text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;

    & > p {
        padding: 0 0 25px 0;
    }
}

.columns {
    background-color: $color1;
    padding: 50px 0 20px 0;
}

.columns__title {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;

    margin: 0 0 30px 0;
}

.columns__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -8px;
}
.columns__column {
    padding: 0 8px;

    flex: 1 1 50%; // ограничивает ширину флекса в 50%
    margin: 0 0 30px 0;
}

.item__row {
    display: flex;
}

.item__image {
    flex: 0 0 200px; //дает фиксированную щирину картинке
    margin-bottom: 15px;
    & img {
        max-width: 100%;
    }
}
.item__body {
    flex: 1 1 auto; //выравнивание по ширине
    padding: 0 0 0 15px;
}
.item__title {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: left;
    text-align: center;
    margin: 0 0 15px 0;
}
.item__text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;
}

.vertical {
    background-color: $color1;
    padding: 50px 0;
}

.vertical__title {
    margin: 0 0 29px 0;

    color: #445161;
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: center;
}

.vertical__body {
    margin: 0 auto;
}

.vertical_row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -22.5px;

    justify-content: center;
}
.vertical__column {
    flex: 0 0 33.333%;
    padding: 0px 22.5px;
    display: flex;
    padding-bottom: 30px;
}
.vertical__column__row {
    display: flex;
    flex-direction: column;
    background-color: #445162;
    padding: 18px 0 20px 0;
    border-radius: 5px;
    padding: 0 0 20px 0;

    margin: 0 auto;

    width: 300px;
    min-width: 100%;
}
.column__row__title {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    padding: 12px 0;
}
.column__row__subtitle {
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 30px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #445162;
    padding: 15px 0;
    text-transform: lowercase;
    transition-duration: 0.4s;

    &:hover {
        font-size: 41px;
        font-weight: 500;
    }
}
.column__row__text {
    flex: 0 1 100%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    text-align: left;

    margin: 19px 30px 20px 20px;

    & p {
        margin: 0 0 15px 0;
    }
    & p :last-child {
        margin: 0;
    }
}
.column__row__button {
    display: block;
    margin: 0px 20px;
    padding: 0 0 25px 0;
    height: 40px;
    background-color: #ffffff;
    line-height: 40px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #284b4b;
    text-transform: lowercase;
    font-weight: 700;
    color: #445162;
    font-size: 18px;
    box-shadow: 3px 5px 0px rgb(33, 37, 46);

    top: 0;
    position: relative;

    transition-property: background-color, top, left, box-shadow;
    transition-duration: 400ms, 300ms, 200ms, 200ms;
    transition-timing-function: linear;

    & a {
        text-align: center;
    }

    &:hover {
        background-color: rgb(214, 240, 130);
        top: 2px;
        left: 1px;
        box-shadow: 1px 2px 0px rgb(38, 38, 39);
    }
    &:active {
        background-color: rgb(153, 165, 141);
        box-shadow: rgb(86, 86, 88) 0px 0px 2px 2px;
    }
}

.button {
    width: 260px;

    border: 2px solid #445162;
    box-shadow: #0d1436 0px 0px 2px 2px;

    border-radius: 5px;

    &:hover {
        background-color: rgb(214, 240, 130);
    }
    &:active {
        background-color: rgb(153, 165, 141);
        box-shadow: black 0px 0px 2px 2px;
    }

    color: #445161;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 18px;
    text-align: center;
    text-transform: lowercase;
    font-weight: 700;

    margin: 0 auto;
    padding: 15px 0;
}
